.body{
  background-color: #F2F5F7 !important;
}

p{
  font-size:18px;
  line-height: 1.4;
}
.navbar-main{
  opacity:1;
  padding-bottom:20px;
}

div.container-main{
  min-height:550px;
  background: url("../images/background.jpg") center center no-repeat;
}
.container-text{
  background-color:#EEEEEE;
  padding-top:30px;
}

hr{
  border: 1px solid #286090;
}
.btn.btn-default{
  border: 1px solid #286090;
}

.glyph-sign{
  font-size:24px;
}
.container-icons{
  background-color:#EEEEEE;
  margin-bottom:30px;
  padding-bottom:10px;
  padding-top:50px;
}


.panel-main{
  padding-bottom:25px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}

h4, h3{
  padding-bottom:10px;
}
.main-header{
  margin-bottom:20px;
}
div.tab-pane{
   padding: 20px 10px;
   min-height: 360px;
}

.container-footer{
  background-color:#EEEEEE;
  margin-top:5px;
  padding-top:5px;
  padding-bottom:5px;
}
/* Manipulate css main application - alerts */
.hidden{
  display: none;
}
